<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
         http://www.springframework.org/schema/tx
          http://www.springframework.org/schema/tx/spring-tx.xsd
            http://www.springframework.org/schema/context
             http://www.springframework.org/schema/context/spring-context-3.1.xsd">

    <context:annotation-config />
    <context:component-scan base-package="com.epam.apartmentbooking.dao.impl" />

    <tx:annotation-driven transaction-manager="txManager"/>

    <bean id="springDataSource" class="org.apache.commons.dbcp2.BasicDataSource" destroy-method="close" >
        <property name="url" value="jdbc:oracle:thin:@localhost:1521:xe" />
        <property name="driverClassName" value="oracle.jdbc.driver.OracleDriver" />
        <property name="username" value="ApartmentsLogin" />
        <property name="password" value="1234" />
        <property name="maxTotal" value="20"/>
        <property name="initialSize" value="20" />
        <property name="maxWaitMillis" value="1000" />
    </bean>

    <bean id="jpaVendorAdapter"
          class="org.springframework.orm.jpa.vendor.EclipseLinkJpaVendorAdapter">
        <property name="database" value="ORACLE"/>
        <property name="showSql" value="true"/>
    </bean>

    <bean id="entityManagerFactory"
          class="org.springframework.orm.jpa.LocalContainerEntityManagerFactoryBean">
        <property name="persistenceUnitName" value="entities"/>
        <property name="dataSource" ref="springDataSource"/>
        <property name="jpaVendorAdapter" ref="jpaVendorAdapter"/>
        <property name="jpaPropertyMap">
            <map>
                <entry key="eclipselink.weaving" value="false"/>
            </map>
        </property>
    </bean>

    <bean class="org.springframework.orm.jpa.support.PersistenceAnnotationBeanPostProcessor"/>

    <bean id="txManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
        <property name="dataSource" ref="springDataSource"/>
    </bean>

</beans>